<h2><strong>Books</strong></h2>

<h4>Title</h4>
<h4>Body</h4>
<% @books.each do |book| %>
<%= book.title %>
<%= book.body %>
<%= link_to "show", book_path(book) %>
<%= link_to "edit", edit_book_path(book) %>

<% end %>


<%= render 'books/new', book: @book %>

